/* General styles for html and body */
html, body {
    height: 100%;
    margin: 0; 
}

body {
    font-family: Arial, sans-serif;
}

/* Header styles */
header {
    background-color: transparent;
    color: black;
    padding: 10px 0;
    text-align: start;
}

/* Logo and social media container */
.logo-social {
    color: #1f242d;
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    padding: 0 10%;
}

/* Logo heading styles */
.logo h1 {
    margin-left: 10%;
    margin-bottom: 0.1%;
    font-size: 30px;
    color: black;
    white-space: nowrap;
}

/* Logo heading hover effect */
.logo h1:hover {
    color: #21B2A6; 
}

/* Logo paragraph styles */
.logo p {
    margin-left: 10%;
    margin-top: 0%;
    font-size: 18px;
    color: black;
}

/* Contact info container */
.contact-info {
    display: flex;
    align-items: center;
    color: black;
    padding-right: 20px;
}

/* Time and phone details container */
.time-phone {
    color: black;
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 5px;
}

/* Icon styles within time-phone */
.time-phone i {
    color: black;
    font-size: 30px; /* Adjust size for icon */
    margin-right: 10px;
    margin-left: 40px;
    color: black;
}

/* Flex container for time and phone details */
.time-details, .phone-details {
    display: flex;
    flex-direction: column;
}

/* Social media icons styles */
.social-icons a {
    color: black;
    background-color: #CBE2E9; 
    border-radius: 50%; 
    padding: 12px; 
    display: inline-flex; 
    align-items: center; 
    justify-content: center; 
    text-decoration: none; 
    width: 12px; 
    height: 12px; 
    text-align: center;
}

/* Hover effect for social media icons */
.social-icons a:hover {
    background-color: #21B2A6; /* Background color on hover */
    color: black; /* Color of the icon on hover */
}

/* Social media icons default color and size */
.social-icons a {
    color: #000;
    font-size: 15px;
    text-decoration: none;
}

/* Navigation menu styles */
.menu {
    list-style-type: none;
    margin-left: 12.5%;
    margin-right: 10%;
    padding: 1%;
    display: flex;
    justify-content: flex-start;
    background-color: rgb(244, 243, 243); 
    overflow: hidden;
}

/* Navigation list styles */
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

/* Navigation list item styles */
nav ul li {
    display: inline;
    margin-right: 50px;
}

/* Navigation links styles */
nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 10px 15px; 
    display: block;
}

/* Navigation link hover and focus effects */
nav ul li a:active, nav ul li a:focus, nav ul li a:hover {
    color: #21B2A6; 
}

/* Main content styles */
main {
    padding: 20px;
    max-width: 600px;
    margin-top: 8%;
    margin-left: 7.5%;
    margin-bottom: 10%;
}

.about-us-container {
    max-width: 800px;
    margin: 50px auto;
}

.about-us-container h1 {
    text-align: center;
    font-size: 2.5em;
    color: #2c3e50;
}

.about-us-container section {
    margin: 20px 0;
}

.about-us-container h2 {
    font-size: 1.8em;
    color: #21B2A6;
    border-bottom: 2px solid #21B2A6;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.about-us-container p {
    font-size: 1.1em;
    margin: 10px 0;
    text-align: justify;
}

@media (max-width: 768px) {
    .about-us-container {
        padding: 10px;
    }

    .about-us-container h1 {
        font-size: 2em;
    }

    .about-us-container h2 {
        font-size: 1.5em;
    }

    .about-us-container p {
        font-size: 1em;
    }
}
