body {
    background-color: #ABCACF;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ABCACF;
    color: white;
    padding: 10px 0;
    text-align: start;
}

.logo h1 {
    margin-left: 10%;
    margin-bottom: 0.1%;
    font-size: px;
}

.logo h1:hover {
    color: #21B2A6; 
}

.logo p {
    margin-left: 10%;
    margin-top: 0%;
    font-size: 18px;
    color: white;
}

.menu {
    list-style-type: none;
    margin-left: 10%;
    margin-right: 10%;
    padding: 1%;
    display: flex;
    background-color: #AECED3;/* Light background color */
    justify-content: space-around; /* Evenly space out menu items */
  }

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

.menu li {
    display: inline;
}

#search-section, #course-details {
    margin-bottom: 20px;
}

#search-bar {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#course-list article {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

#details-content {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 20px;
}
