html, body {
    height: 100%;
    margin: 0; 
}

body {
    background-image: url('iStock-1385723548.jpg');
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}

header {
    background-color: transparent;
    color: white;
    padding: 10px 0;
    text-align: start;
}

.logo-social {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    padding: 0 10%;
}

.logo h1 {
    margin-left: 10%;
    margin-bottom: 0.1%;
    font-size: 30px;
    color: white;
    white-space: nowrap;
}

.logo h1:hover {
    color: #21B2A6; 
}

.logo p {
    margin-left: 10%;
    margin-top: 0%;
    font-size: 18px;
    color: white;
}

.contact-info {
    display: flex;
    align-items: center;
    color: white;
    padding-right: 20px;
}

.time-phone {
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 5px;
}

.time-phone i {
    font-size: 30px; /* Adjust size for icon */
    margin-right: 10px;
    margin-left: 40px;
    color: white;
}

.time-details, .phone-details {
    display: flex;
    flex-direction: column;
}

.time-details span:first-child, .phone-details span:first-child {
    font-size: 16px; /* Font size for "Monday - Friday" and "Contact Us" */
}

.time-details span:last-child, .phone-details span:last-child {
    font-size: 16px; /* Font size for "08:00-17:00" and phone number */
}

.social-icons a {
    background-color: #CBE2E9; 
    border-radius: 50%; 
    padding: 12px; 
    display: inline-flex; 
    align-items: center; 
    justify-content: center; 
    text-decoration: none; 
    width: 12px; 
    height: 12px; 
    text-align: center;
}

.social-icons a:hover {
    background-color: #21B2A6; /* Background color on hover */
    color: white; /* Color of the icon on hover */
}

.social-icons a {
    color: #21B2A6;
    font-size: 15px;
    text-decoration: none;
}
.menu {
    list-style-type: none;
    margin-left: 12.5%;
    margin-right: 10%;
    padding: 1%;
    display: flex;
    justify-content: flex-start;
    background-color: rgba(255, 255, 255, 0.2); 
    overflow: hidden;
  }

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    display: inline;
    margin-right: 50px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px 15px; 
    display: block;
}

nav ul li a:active, nav ul li a:focus, nav ul li a:hover {
    color: #21B2A6; 
}

main {
    padding: 20px;
    max-width: 600px;
    margin-top: 8%;
    margin-left: 7.5%;
    margin-bottom: 10%;
}

.menu li {
    display: inline;
}

.welcome-heading { 
    font-size: 15px; 
    margin-left: 10%;
    color: #f1f5f6; 
    font-weight: bold;
}

.intro-text { 
    margin-left: 10%;
    margin-top: 10px; 
    margin-bottom: 0;
    color: white; 
    font-size: 40px; 
    font-weight: 900;
}

.sub-intro-text { 
    margin-top: 20px; 
    margin-left: 10%;
    color: #f1f5f6;
}

#search-section, #course-details {
    color: rgb(0, 0, 0);
    margin-bottom: 200px;
    margin-left: 10%;
}

#search-section {
    margin-bottom: 0;
    display: inline-block;
    width: 75%;
}

#course-details {
    display: none; /* Initially hide the course details section */
    position: absolute;
    top: 66%;
    left: 30%; /* Position to the right of search-section */
    z-index: 1000;
}

#search-section h2 {
    color: #21B2A6;
    font-size: 16px; /* Reduced font size for headings */
}

#course-details h2 {
    display: none;
}

#search-bar {
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
}

button {
    padding: 10px 20px;
    background-color: #21B2A6;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #CBE2E9;
}
 
#course-list article {
    background-color: #FEFEFE;
    color: grey;
    border: 1px solid #FEFEFE;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

#details-content {
    border:rgba(255, 255, 255, 0.2);
    color: white; 
    padding: 10px;
    margin-top: 20px;
    background-color: #21B2A6;
    border-radius: 5px;
    opacity: 0.7;
}

/* Chat to Us Icon */
.chat-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #CBE2E9;
    border-radius: 50%;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-icon a {
    color: #333; /* Color of the chat icon */
    text-decoration: none;
    font-size: 24px;
}
