/* General styles for html and body */
html, body {
    height: 100%;
    margin: 0; 
}

/* Body styles */
body {
    background-image: url('iStock-1385723548.jpg');
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}

/* Header styles */
header {
    background-color: transparent;
    color: white;
    padding: 10px 0;
    text-align: start;
}

/* Logo and social media container */
.logo-social {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    padding: 0 10%;
}

/* Logo heading styles */
.logo h1 {
    margin-left: 10%;
    margin-bottom: 0.1%;
    font-size: 30px;
    color: white;
    white-space: nowrap;
}

/* Logo heading hover effect */
.logo h1:hover {
    color: #21B2A6; 
}

/* Logo paragraph styles */
.logo p {
    margin-left: 10%;
    margin-top: 0%;
    font-size: 18px;
    color: white;
}

/* Contact info container */
.contact-info {
    display: flex;
    align-items: center;
    color: white;
    padding-right: 20px;
}

/* Time and phone details container */
.time-phone {
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 5px;
}

/* Icon styles within time-phone */
.time-phone i {
    font-size: 30px; /* Adjust size for icon */
    margin-right: 10px;
    margin-left: 40px;
    color: white;
}

/* Flex container for time and phone details */
.time-details, .phone-details {
    display: flex;
    flex-direction: column;
}

/* Social media icons styles */
.social-icons a {
    background-color: #CBE2E9; 
    border-radius: 50%; 
    padding: 12px; 
    display: inline-flex; 
    align-items: center; 
    justify-content: center; 
    text-decoration: none; 
    width: 12px; 
    height: 12px; 
    text-align: center;
}

/* Hover effect for social media icons */
.social-icons a:hover {
    background-color: #21B2A6; /* Background color on hover */
    color: white; /* Color of the icon on hover */
}

/* Social media icons default color and size */
.social-icons a {
    color: #21B2A6;
    font-size: 15px;
    text-decoration: none;
}

/* Navigation menu styles */
.menu {
    list-style-type: none;
    margin-left: 12.5%;
    margin-right: 10%;
    padding: 1%;
    display: flex;
    justify-content: flex-start;
    background-color: rgba(255, 255, 255, 0.2); 
    overflow: hidden;
}

/* Navigation list styles */
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

/* Navigation list item styles */
nav ul li {
    display: inline;
    margin-right: 50px;
}

/* Navigation links styles */
nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px 15px; 
    display: block;
}

/* Navigation link hover and focus effects */
nav ul li a:active, nav ul li a:focus, nav ul li a:hover {
    color: #21B2A6; 
}

/* Main content styles */
main {
    padding: 20px;
    max-width: 600px;
    margin-top: 8%;
    margin-left: 7.5%;
    margin-bottom: 10%;
}

/* Welcome heading styles */
.welcome-heading { 
    font-size: 15px; 
    margin-left: 10%;
    color: #f1f5f6; 
    font-weight: bold;
}

/* Intro text styles */
.intro-text { 
    margin-left: 10%;
    margin-top: 10px; 
    margin-bottom: 0;
    color: white; 
    font-size: 40px; 
    font-weight: 900;
}

/* Sub-intro text styles */
.sub-intro-text { 
    margin-top: 20px; 
    margin-left: 10%;
    color: #f1f5f6;
}

/* Search section and course details styles */
#search-section, #course-details {
    color: rgb(0, 0, 0);
    margin-bottom: 200px;
    margin-left: 10%;
}

/* Search section styles */
#search-section {
    margin-bottom: 0;
    display: inline-block;
    width: 75%;
}

/* Course details section styles */
#course-details {
    display: none; /* Initially hide the course details section */
    position: absolute;
    top: 66%;
    left: 30%; /* Position to the right of search-section */
    z-index: 1000;
}

/* Search section heading styles */
#search-section h2 {
    color: #21B2A6;
    font-size: 16px; 
}

/* Course details heading styles */
#course-details h2 {
    display: none;
}

/* Search bar styles */
#search-bar {
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
}

/* Button styles */
button {
    padding: 10px 20px;
    background-color: #21B2A6;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

/* Button hover effect */
button:hover {
    background-color: #CBE2E9;
}
 
/* Course list article styles */
#course-list article {
    background-color: #FEFEFE;
    color: grey;
    border: 1px solid #FEFEFE;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

/* Course details content styles */
#details-content {
    border:rgba(255, 255, 255, 0.2);
    color: white; 
    padding: 10px;
    margin-top: 20px;
    background-color: #21B2A6;
    border-radius: 5px;
    opacity: 0.7;
}

/* Links inside course details content */
#details-content a {
    color: white;
    text-decoration: none;
}

/* Heading styles inside course details content */
#details-content h3 {
    margin-bottom: 10px;
    margin-left: 22px;
}

/* Paragraph styles inside course details content */
#details-content p {
    margin: 10px 0;
}

/* Table header and cell padding inside course details content */
#details-content th, #details-content td {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 3px;
    text-align: left;
    color: white;
}

.enroll-button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #21B2A6;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.enroll-button:hover {
    background-color: #CBE2E9;
}

/* Chat icon styles */
.chat-icon {
    position: fixed;
    bottom: 50px;
    right: 50px;
    background-color: #CBE2E9;
    border-radius: 50%;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Chat icon link styles */
.chat-icon a {
    color: #333;
    text-decoration: none;
    font-size: 30px;
}